@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Montserrat Variable', sans-serif;
    background-color: white;
}

h2 {
    font-family: 'Inter Variable', sans-serif;
}

:root{
    background-color: white;
}